.product {
  width: 100%;
  padding: 30px 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 500px;
  img {
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: 300ms;
    &:hover {
      transform: scale(1.09);
    }
  }
}
