.title {
  width: 100%;
  height: 70px;
  background-color: #5b5b5b;
  color: whitesmoke;
  text-align: center;
  & h2 {
    line-height: 70px;
    text-transform: capitalize;
    font-size: 32px;
  }
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #3b3b3b;
}
